@import url(http://weloveiconfonts.com/api/?family=brandico|entypo|fontawesome|fontelico|maki|openwebicons|typicons|zocial);

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif; font-size:40px;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif; 
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif; font-size:40px;
}

/* fontelico */
[class*="fontelico-"]:before {
  font-family: 'fontelico', sans-serif; font-size:40px;
}

/* maki */
[class*="maki-"]:before {
  font-family: 'maki', sans-serif; font-size:40px;
}

/* openwebicons */
[class*="openwebicons-"]:before {
  font-family: 'OpenWeb Icons', sans-serif; font-size:40px;
}

/* typicons */
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif; font-size:40px;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif; font-size:40px;
}