nav#menu {
  margin:2% -60px 0 30%;
  width: 808px;
  height: 30px;
  float:right;    
 /* border-bottom: 3px #0061A0 solid;*/
}

nav#menu ul {
  list-style: none;
  padding: 0 10px 0 10px;
}

nav#menu ul li {
 font: 16px Inder, 'Arial', 'sans-serif';
 color: #000;
 display:inline-block;  
}

nav#menu ul li a {
  padding: 10px 15px;
  text-decoration: none;
  text-transform:uppercase;
  color: #000;
}

nav#menu ul li a:hover {
  background-color: #197de1;
  color: #FFF;
  -webkit-animation: showMenu 0.8s;
     -moz-animation: showMenu 0.8s;
          animation: showMenu 0.8s;
}


/* KEFRAMES*/
@-webkit-keyframes showMenu {
  0% { opacity :0; }
  100% { opacity:1; }
}
@-moz-keyframes showMenu {
  0% { opacity :0; }
  100% { opacity:1; }
}
@keyframes showMenu {
  0% { opacity :0; }
  100% { opacity:1; }
}