*
{
	margin:0px;
	padding:0px;
}
img{ border:none;}
a {text-decoration: none; color:#95B602; font-family:Verdana, Geneva, sans-serif;font-size:14px;}
body
{
	/* background:#fff url(../Bubble_content/images/bg.png) no-repeat top left;*/ background-color:#A6BC50;
	
}
#overlay {
     visibility:hidden;
	 background-image: url(../images/background.png);
	 margin:0 auto;
     position:fixed;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     z-index: 1000;
	 border-radius: 10px;
}
.innerDiv
{
    /*position:absolute;*/
     margin :auto;
     background-color: #ffffff;
	    
     
     margin-top:200px;
}
.main_division
{
	width:100%;
	height:auto;
	
}
.header_main
{
	width:100%;
	height:110px;
	background-color:#FFF;
	border-bottom: 5px #197de1 solid;

	
}
.header
{
	width:1280px;
	height:110px;
	
	margin:0 auto;
}

.logo
{
	width:400px;
	height:100px;
	
	
	float:left;
	
}
.menu
{
	width:784px;
	height:40px;
	
	float:right; margin-top:30px;
	
}
.follow_us
{
	width:590px;
	height:40px;
	float:right; 

}


.follow_us ul
{
list-style-type:none;
margin-top:10px;
padding:0;
text-decoration:none;
} 

.follow_us ul li

{
float: right;
    margin-right: 10px;

} 

.follow_us ul li a 

{

text-decoration:none;color:#197DE1; font-size:32px;
}

.follow_us ul li a:hover 

{

color:#A6BC50; 
}


/*.follow_us ul
{

float: right;
    list-style: none outside none;
    margin-top: 10px
}
.follow_us ul li
{
float:left;margin-left:10px;

}
.follow_us ul li a
{
text-decoration:none;
font-family:Verdana, Geneva, sans-serif;
font-size:12px; font-weight:bold;
}*/
.content_main
{
	width:100%;
	height:auto; /*background-color:#95b602;*/
	
}

.content
{
	width:1280px;
	min-height:550px; overflow:auto;
	
	margin:0 auto;
}
.main_Circle{
	border-radius: 400px;
    float: left;
    height: 400px;
    left: 215px;
   
    position: absolute;
    top:75px;
    width: 400px;
    z-index: 0;
	
	}
	
.box{height: 250px; margin: 70px auto 0;width: 290px;}

.box h3{ font-family:'Cinzel Decorative',cursive; font-size:20px; text-align:center;color:#007DE1;}
	