.navigation{
    margin: 0px auto;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1.4px;
}
.navigation .item{
    position:absolute;
}
.user{
    left: 382px;
    top: 43px;
}
.home{
   top:185px;
   left:360px;
}
.shop{
 left: 577px;
    top: 100px;
}
.camera{
       left: 642px;
    top: 250px;
}
.fav{
   left: 575px;
    top: 415px;
}
.fav1{
   left: 382px;
    top: 506px;
}
.fav2{
   left: 192px;
    top: 416px;
}
.fav3{
  left: 125px;
    top: 250px;
}
.fav4{
   left: 192px;
    top: 100px;
}
a.icon{
    width:52px;
    height:52px;
    position:absolute;
    top:0px;
    left:0px;
    cursor:pointer;
}
.user a.icon{
    background:transparent url(../images/Multiple_Test.png) no-repeat 0px 0px; 
}
.home a.icon{
    background:transparent url(../images/Documents.png) no-repeat 0px 0px;
}
.shop a.icon{
    background:transparent url(../images/Candidate.png) no-repeat 0px 0px;
}
.camera a.icon{
    background:transparent url(../images/Faculty.png) no-repeat 0px 0px;
}
.fav a.icon{
    background:transparent url(../images/Testing.png) no-repeat 0px 0px;
}
.fav1 a.icon{
    background:transparent url(../images/Performance.png) no-repeat 0px 0px;
}
.fav2 a.icon{
    background:transparent url(../images/Reporting.png) no-repeat 0px 0px;
}

.fav3 a.icon{
    background:transparent url(../images/Percentile_Rank_Analycis.png) no-repeat 0px 0px;
}
.fav4 a.icon{
    background:transparent url(../images/Secure_Test_Operation.png) no-repeat 0px 0px;
}
.navigation .item a.active{
    background-position:0px -52px;
}
.item img.circle{
    position:absolute;
    top:0px;
    left:0px;
    width:52px;
    height:52px;
    opacity:0.1;
}
.item h2{
    position:absolute;
    width:147px;
    height:52px;
    color:#000;
    font-size:18px;
    top:0px;
    left:52px;
    text-indent:10px;
    line-height:30px;
   /* text-shadow:1px 1px 1px #fff;*/
    text-transform:uppercase;
}
.item h2.active{
    color:#000;
    text-shadow:1px 0px 1px #555;
}
.item ul{
    list-style:none;
    position:absolute;
    top:60px;
    left:25px;
    display:none;
}
.item ul li a{
    font-size:15px;
    text-decoration:none;
    letter-spacing:1.5px;
    text-transform:uppercase;
    color:#222;
    padding:3px;
    float:left;
    clear:both;
    width:100px;
    text-shadow:1px 1px 1px #fff;
}
.item ul li a:hover{
    background-color:#fff;
    color:#444;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:1px 1px 4px #666;
    -webkit-box-shadow:1px 1px 4px #666;
    box-shadow:1px 1px 4px #666;
}
.circle_1{ position:absolute;
    top:0px;
    left:-50px;
    width:52px;
    height:52px;
    opacity:0.1;}

